{% extends "admin/base.html" %}
{% load static %}

{% block title %}Вхід в адмінку{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block content %}
<div id="content" class="login-box">
  <h1 style="color: var(--header-bg);">Ласкаво просимо до Oishii Admin</h1>

  {% if form.errors %}
    <p class="errornote">Невірне ім’я користувача або пароль. Спробуйте ще раз.</p>
  {% endif %}

  <form action="{{ form_url }}" method="post" id="login-form">
    {% csrf_token %}
    <div class="form-row">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="form-row">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
    {% endif %}

    <div class="submit-row">
      <input type="submit" value="Увійти">
    </div>
  </form>

</div>
{% endblock %}
