{% extends 'base.html' %}
{% load static %}

{% block title %}Головна — Oishii{% endblock %}

{% block content %}
<div class="hero">
  <img src="{% static 'logo.png' %}" alt="Oishii Logo Large">
  <br>
  <a href="{% url 'reservation' %}">
  <button class="btn">Забронювати столик</button>
  </a>
</div>

<div class="info-section">
  <h2>Ласкаво просимо до Oishii</h2>
  <p>
    Ми готуємо страви з різних куточків Азії з найсвіжіших інгредієнтів. Насолоджуйтеся унікальною атмосферою та справжнім смаком Сходу.
  </p>
</div>
{% endblock %}
